h1 {color:black ; background-color:burlywood ;font-family: 'Style Script', cursive ; }
h2 {color:black ; background-color:rosybrown }
body {color:black ; font-family: 'Signika Negative', sans-serif; } 